.alice-carousel__dots {
    margin: 30px 3px 5px;
    padding: 0;
    list-style: none;
    text-align: center; }
    .alice-carousel__dots > li {
      display: inline-block; }
    .alice-carousel__dots-item:not(.__custom) {
      width: 8px;
      height: 8px;
      cursor: pointer;
      border-radius: 50%;
      background-color: #e0e4fb; }
      .alice-carousel__dots-item:not(.__custom):not(:last-child) {
        margin-right: 20px; }
      .alice-carousel__dots-item:not(.__custom):hover, .alice-carousel__dots-item:not(.__custom).__active {
        background-color: #1F2833; }